/*
    Name: Ludvig Liljenberg
    Date:  April 1, 2019
    Section: CSE 154 AF
    This is the style.css page for my all of my html sites in creative project 1
*/


/* Remember: This body ruleset is to get you started, but does not count towards the CP requirements! */
body {
  background-color: beige;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
