/*
    Name: Ludvig Liljenberg
    Date:  April 1, 2019
    Section: CSE 154 AF
    This is the style.css page for my all of my html sites in creative project 1
*/
/* Remember: This body ruleset is to get you started, but does not count towards the CP requirements! */
body {
  height: 100%;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  font-family: 'Didact Gothic', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

img {
  width: 500px;
  height: auto;

}

.current {
  background-color: black;
}

span {
  color: #1491FE;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul a {
  border-radius: 3px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: grey;
}
